* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: rgba(77, 73, 73, 0.966) ;
    min-width: 100%;
    height: 100%;
    
}

header {
    display:inline-block;
    position:fixed;
    padding-left: 10px;
    width: 100%;
    height: 110px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5em;
    background-color: rgba(77, 73, 73, 0.966) ;
    z-index:1;
}

nav {
    padding-top: 10px;
    position:fixed;
    top:100px;
    height: 80px;
    width: 100%;
    z-index: 1;
    
}

ul {
    width: 100%;
    display: table;
    table-layout: fixed;
}
video {
    max-width: 100%;
    min-width: 200px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 16px 7px rgba(0,0,0,0.75);
  

  }
 
  h2{
    margin: 10px 0;
    color:#D7263D;
    text-decoration: underline #D7263D;
    font-size: 50px;
    


  }
li {
    padding-top: 15px;
    vertical-align: center;
    height: 50px;
    text-align: center;
    color: white;
    display: table-cell;
    background-color: #D7263D;
    cursor: pointer
}

li:hover {
    background-color: #B71C1C;
}

.container {
    position:relative;
    top:120px;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 20px;
    display: table;
    table-layout:auto;
    width: 100%;
   
}

.vista {
    
    vertical-align: top;
    width: 75%;
    display: table-cell;
    padding-right: 20px;
    min-width: 500px;
    color: white;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   line-height: 40px;
   
}

.videos {
    
    vertical-align: center;
    display: table-cell;
    
}

.select {
    display: table;
    table-layout:fixed;
    margin:auto;
   padding: 20px;
   
    
}

.imagen{
    padding:5px;
    vertical-align: middle;
    display:table-row;
    
}

.texto{
    display:table-row;
    vertical-align: middle;
    text-align: center;
    color: #B71C1C;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

